<div class="header">Pokedex</div>
<div *ngIf="pokemonsList">
    <select class="selectPokemon" (change)="showTypePoke($event)">
        <option value="">Select all</option>
        <option *ngFor="let type of pokemonTypesList" value="{{type.name}}">{{type.name}}</option>
    </select>
    <div class="pokemonContainer">
        <div class="pokemonPoster" *ngFor="let poke of pokemonsList | pokeFilter:pokeFilter" (click)="pokeDetails(poke.id)">
            <img src="{{poke.sprites.front_shiny}}" class="image">
            <p class="pokemonName">{{poke.name}}</p>
            <div class="types">
                <div *ngFor="let item of poke.types" class="{{item.type.name}}Type type">{{item.type.name}}</div>
            </div>
        </div>
    </div>
    <div class="pokeDetails" *ngIf="pokemonDetails">
        <div class="detailsSkillsPoke">
            <div><img [src]="pokemonDetails.sprites.front_shiny" class="imageDetails"></div>
            <div>
                <p class="detailsName">{{pokemonDetails.name}} #{{pokemonDetails.id}}</p>
            </div>
            <table>
                <tr>
                    <td>{{pokemonDetails.types.length == 1 ? 'Type' : 'Types'}}</td>
                    <td>{{pokeService.joinPokeTypesNames(pokemonDetails)}}</td>
                </tr>
                <tr>
                    <td>Attack</td>
                    <td>{{pokeService.selectPokeStat(pokemonDetails, 'attack')}}</td>
                </tr>
                <tr>
                    <td>Defense</td>
                    <td>{{pokeService.selectPokeStat(pokemonDetails, 'defense')}}</td>
                </tr>
                <tr>
                    <td>HP</td>
                    <td>{{pokeService.selectPokeStat(pokemonDetails, 'hp')}}</td>
                </tr>
                <tr>
                    <td>SP Attack</td>
                    <td>{{pokeService.selectPokeStat(pokemonDetails, 'special-attack')}}</td>
                </tr>
                <tr>
                    <td>SP Defense</td>
                    <td>{{pokeService.selectPokeStat(pokemonDetails, 'special-defense')}}</td>
                </tr>
                <tr>
                    <td>Speed</td>
                    <td>{{pokeService.selectPokeStat(pokemonDetails, 'speed')}}</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>{{pokemonDetails.weight}}</td>
                </tr>
                <tr>
                    <td>Total moves</td>
                    <td>{{pokemonDetails.moves.length}}</td>
                </tr>
            </table>
        </div>

    </div>

    <button (click)="morePokemons()" class="more">Load More</button>