<div class="header">Pokedex</div>
<div *ngIf="pokemonsList">
    <select name="" id="">
        <option value="all">Select all</option>
        <option *ngFor="let type of pokemonTypesList" value="{{type.name}}">{{type.name}}</option>
    </select>
    <div id="pokemonContainer">
        <div class="pokemonPoster" *ngFor="let poke of pokemonsList">
            <p>{{poke.name}}</p>
            <p>{{poke.id}}</p>
            
            <img src="{{poke.sprites.front_shiny}}" alt="">
            <p *ngFor="let item of poke.types" class="{{item.type.name}}">{{item.type.name}}</p>
        </div>
    </div>

</div>

<button (click)="morePokemons()">MOREEEEE</button>
